
*{
    padding: 0; 
    margin: 0;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

root {
    --linear-gradient-primary: hsl(236, 72%, 79%);
    --linear-gradient-secondary: hsl(237, 63%, 64%);
    --very-light-grayish-blue: hsl(240, 78%, 98%);
    --light-grayish-blue: hsl(234, 14%, 74%);
    --grayish-blue: hsl(233, 13%, 49%);
    --dark-grayish-blue: hsl(232, 13%, 33%);
  }

.container{
    display: flex;
    flex-direction: column;
    align-items: center; 
    height: 100vh;
    width: 100vw;
    background-image: url(bg-bottom.svg),url(bg-top.svg);
    background-repeat: no-repeat,no-repeat;
    background-position:0% 100%, 100% 0%;
    background-size: 35rem,25rem;
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 5rem;
    height: 60%;
    width: 90%;
}

.card-left , .card-right{
    background-color: white;
    height: 35rem;
    width:26rem;
    padding:1rem;
    color: hsl(232, 13%, 33%);
    box-shadow: 0 0 19px -8px rgba(0, 0, 0, 0.75);
}    
.card-left{
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.card-right{
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.card-center{
    background-color: lightsalmon;
    height: 40rem;
    width:30rem;
    color:white;
    border-radius: 10px;
    background: linear-gradient(hsl(236, 72%, 79%),hsl(237, 63%, 64%));
}

.card-center ul, .card-center h1{
    color: white;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 50%;
    color: hsl(232, 13%, 33%);
}

h3{
    margin:4rem 0 1rem 0 ;
    font-size: 1.3rem;
}
.price-tag{
    font-size: 5rem;
    margin-bottom: 1.5rem;
}

hr{
    width: 80%;
    /* color: hsl(232, 13%, 33%); */
    opacity: 0.5;
}

.card-center hr{
    color: white;
    opacity: 1;
}

button{
    width: 80%;
    font-weight: 700;
    padding: 0.75rem 0;
    border-style: none;
    border-radius: 5px;
    margin: 1rem 0;
    color: hsl(237, 63%, 64%);
    background-color: white;

}

.card-left button, .card-right button{
    background: linear-gradient(hsl(236, 72%, 79%),hsl(237, 63%, 64%));
    color: white;
}


h1{
    margin: 2rem 0;
    font-size: xx-large;
    color: hsl(233, 13%, 49%);
}

.toggle-section{
    width: 20rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:hsl(234, 14%, 74%);
}

.toggle-container{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 1.5rem;
    width: 3rem;
    background-color:hsl(237, 63%, 64%);
    border-radius: 10px;

}

.toggle-container input{
    height: 0;
    width: 0;

}

.toggle-btn{
    height: 1.3rem;
    width: 1.3rem;
    background-color: white;
    border-radius: 50%;
    margin: 0.1rem 0 0.1rem 0 ;
}

.plan-type{
    margin: 0;
}

